# Flutter/Dart related
build/
ios/Flutter/.generated/
*.lock
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
pubspec.lock

# Android specific
android/.gradle/
android/app/build/
android/local.properties
android/key.properties

# iOS specific
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/

# Firebase related
android/app/google-services.json
ios/Runner/GoogleService-Info.plist

# VSCode/JetBrains
.idea/
.vscode/

# macOS related
macos/Pods/
macos/Flutter/ephemeral/

# Web related
web/.dart_tool/
web/build/
